<div class="row">
  <div class="twelve columns">
    <% post = @posts.first %>
    <% if post.present? %>
      <div class="feature">
        <%= link_to (image_tag post.image.headline, :alt => post.title), post, :title => post.title %>
        <h1><%= link_to post.title, post, :title => post.title %></h1>
        <%= raw truncate(post.content, :length => 400, :separator => ' ') %>
        <%= link_to "Read More", post, :class => "more", :title => post.title %>
      </div>
    <% end %>

    <div class="posts">
      <% @posts.each do |post| %>
        <% unless post == @posts.first %>
          <div class="post">
            <div class="row">
              <div class="four columns image">
                <%= link_to (image_tag post.image.thumb, :alt => post.title), post, :title => post.title %>
              </div>
              <div class="eight columns">
                <h2><%= link_to post.title, post, :title => post.title %></h2>
                <%= raw truncate(post.content, :length => 300, :separator => ' ') %>
                <%= link_to "Read More", post, :class => "more", :title => post.title %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

  </div>
</div>

