<!DOCTYPE html>
<html>
  <%= render :partial => 'misc/head' %>

  <body>
    <%= render :partial => 'misc/header' %>

    <div class="container">
      <div class="row">
        <div class="two columns left-sidebar">
          <a href="/" title="We Cook And We Eat" class="hide-for-small">
            <img src="http://www.placehold.it/200x200" alt="We Cook And We Eat" class="logo" />
          </a>
          <a href="/" title="We Cook And We Eat" class="show-for-small">
            <%= image_tag 'logo-wide.png', :alt => "We Cook And We Eat", :class => "logo" %>
          </a>

          <ul class="side-nav hide-for-small">
            <% @menu_categories.each do |category| %>
              <li><%= link_to "#{category.name.titleize} (#{category.count})", "/archive/#{category.name}", :title => "Recipes for #{category.name.titleize}" %></li>
            <% end %>
          </ul>
        </div>

        <div class="seven columns">
          <%= yield %>
        </div>

        <div class="three columns right-sidebar">
          <div class="popular hide-for-small">
            <h3>Top Posts</h3>
            <%= link_to (image_tag @top_posts.first.image.thumb, :alt => @top_posts.first.title), @top_posts.first, :title => @top_posts.first.title %>
            <ol>
              <% @top_posts.each do |p| %>
                <li><%= link_to p.title, p, :title => p.title %></li>
              <% end %>
            </ol>
          </div>

          <div class="popular hide-for-small">
            <h3>New Posts</h3>
            <%= link_to (image_tag @new_posts.first.image.thumb, :alt => @new_posts.first.title), @new_posts.first, :title => @new_posts.first.title %>
            <ol>
              <% @new_posts.each do |p| %>
                <li><%= link_to p.title, p, :title => p.title %></li>
              <% end %>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <%= render :partial => 'misc/footer' %>

  </body>
</html>
